
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>ROR Code Challenge</h1>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Example A<br>The First Toy Robot</h2>
                <p class="lead">The first toy robot can be found at <a target="_blank" href="/toy_robot_tester?input=PLACE 0,0,NORTH\nMOVE\nREPORT">Example A</a>.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Example B<br>The Second Toy Robot</h2>
                <p class="lead">The second toy robot can be found at <a target="_blank" href="/toy_robot_tester?input=PLACE 0,0,NORTH\nLEFT\nREPORT">Example B</a>.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Example C<br>The Third Toy Robot</h2>
                <p class="lead">The third toy robot can be found at <a target="_blank" href="/toy_robot_tester?input=PLACE 1,2,EAST\nMOVE\nMOVE\nLEFT\nMOVE\nREPORT">Example C</a>.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
